@import url("https://unpkg.com/modern-normalize@1.0.0/modern-normalize.css");

body {
  background-color: black;
}

#Recall {
  color: white;
  font-family: Helvetica;
  text-align: center;
  font-size: 100px;
  padding: 230px;
  background-image: url("rain.gif");
  background-size: 200%;
  background-repeat: no-repeat;
}

#signUp {
  color: white;
  font-family: Helvetica;
  text-align: right;
  vertical-align: top;
  font-size: 40px;
  margin-right: 25px;
}

#signUp.hover {
  cursor: pointer;
}

#emailBackground {
  background-color: rgba(0, 0, 0, 0.623);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#emailBackground.hidden {
  display: none;
}

#emailBox {
  position: fixed;
  background-color: black;
  left: 25%;
  width: 50%;
  top: 10%;
}

#signUpText {
  color: aquamarine;
  font-size: 30px;
  text-align: center;
}

#closeEmailWindow {
  color: white;
  font-size: 30px;
  text-align: center;
}

#emailInput {
  position: fixed;
}

#submit {
  color: black;
  margin-top: 40px;
}

.Art {
  text-align: center;
  font-size: 40px;
  background-color: #303030;
  padding: 20px;
}

#boom {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#M1911 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
  image-rendering: pixelated;
}

body {
  color: white
}

footer {
  text-align: center;
  padding: 20px;
  background-color: rgb(22, 22, 22);
  font-family: Helvetica;
  font-size: larger;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

#what {
  position: absolute;
  top: 40px;
  left: 20px;
  font-size: 40px;
  font-family:  Helvetica,;
  font-weight: bold;
}